#MoovingChart {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
} 
#Chart1 {
  height: 410px;
  width: 410px; 
}
#ChartHeader {
  padding: 1px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}