Django==3.0.6
psycopg2-binary==2.8.5
gunicorn==19.9.0
beautifulsoup4==4.9.1
requests==2.7.0
lxml==4.5.0
pandas==1.0.3
numpy==1.18.4
pymorphy2==0.8
pymorphy2-dicts==2.4.393442.3710985
sklearn
markdown==3.2.1
twitter-scraper==0.4.2
django-widget-tweaks==1.4.8
social-auth-app-django
