:root {
      --body_gradient_left:#7200D0;
      --body_gradient_right: #C800C1;
      --form_bg: #ffffff;
      --input_bg: #E5E5E5;
      --input_hover:#eaeaea;
      --submit_bg: #1FCC44;
      --submit_hover: #40e263;
      --icon_color:#6b6b6b;
  }
* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Roboto,
  sans-serif;
  margin: 0;
  background: #f1f1f1;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 40%;
  /* width: 400px; */
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 20px !important;
  text-align: center;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-image: linear-gradient(to right, var(--body_gradient_left), var(--body_gradient_right));
  border-radius: 10px 10px 0px 0px !important;
  color: white !important;

}

.modal-body-form {padding: 10px 20px;}

.modal-footer {
  /* padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
  border-radius: 10px !important; */
}
.side{
  padding: 30px;
  float: left;
  /* margin-right: 100px; */
}
.main {
  padding: 20px 80px;
}

.input_container,
#input_submit {
    height: 60px;
    /* make the borders more round */
    border-radius: 30px;
    width: 100%;
}

.input_field {
    /* customize the input tag with lighter font and some padding*/
    color: var(--icon_color);
    background-color: inherit;
    width: 90%;
    border: none;
    font-size: 1.3rem;
    font-weight: 400;
    padding-left: 30px;
    margin-top: 10px;
}


.input_container {
        background-color: var(--input_bg);
        /* vertically align icon and text inside the div*/
        display: flex;
        align-items: center;
        padding-left: 20px;
    }


.input_field{
  color: black;
}

.input_field:hover{
  color: gray;
}

.input_container{
    height: 60px;
    /* make the borders more round */
    border-radius: 10px;
    width: 100%;
    margin: 10px;
}

.input_container {
    background-color: var(--input_hover);
}

#input_submit {
    /* submit button has a different color and different padding */
    background-color: #003cb3;
    padding-left: 0;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

#input_submit:hover {
    background-color: var(--submit_hover);
    /* simple color transition on hover */
    transition: background-color,
    1s;
    cursor: pointer;
}

.input_field:hover,
.input_field:focus {
    /* remove the outline */
    outline: none;
}

#error_message {
  font-family: 'Roboto',
  sans-serif;
  font-weight: bold;
  color: orange;
  padding: 0;
  padding-left: 100px;
  margin: 0;
}


.loader-layout{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.loader {
  position: absolute;
  left: calc(50% - 50px);
  top:60%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #6600ff;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}



/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


#button {
  font-family: Roboto,
  sans-serif;
  border: 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#Frequency\ analysis{
  width: 500px;
  height: 500px;
  padding: 10px 20px;
  margin-left: 100px;
}

#Wordcloud {
  width: 800px;
  height: 500px;
  padding: 20px;
}

#Choosing {
  padding-left: 25px;
  font-family: Roboto,
  sans-serif;
}

/* The container must be positioned relative: */
.custom-select {
  padding-left: 25px;
  /* position: relative; */
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

#error-message{
  padding: 10px;
  font-family: 'Roboto',
  sans-serif;
  font-weight: bold;
  color: orange;
}

#edit{
  color: black;
  background-color: #f1f1f1;
  font-family: 'Roboto',
  sans-serif;
  font-weight: bold;
  display: inline-block;
  padding: 0 30px;
  margin-left: 10px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
}
#edit a{
    text-decoration: none !important;
}

#edit:hover{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1),0 6px 10px 0 rgba(0,0,0,0.1);
}

.card-info {
  color: black;
  background-color: #f1f1f1;
}

.custom-select {
  font-family: font-family: Roboto,
  sans-serif;
  padding: 5px;
}
