:root {
      --body_gradient_left:#7200D0;
      --body_gradient_right: #C800C1;
      --form_bg: #ffffff;
      --input_bg: #E5E5E5;
      --input_hover:#eaeaea;
      --submit_bg: #1FCC44;
      --submit_hover: #40e263;
      --icon_color:#6b6b6b;
  }
* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Roboto,
  sans-serif;
  margin: 0;
  background: #f1f1f1;
}

/* Header/logo Title */
.header {
  padding: 80px;
  text-align: center;
  /* background: #1abc9c; */
  background-image: linear-gradient(to right, var(--body_gradient_left), var(--body_gradient_right));
  color: white;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}

/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
.navbar {
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: #333;
  position: sticky;
  position: -webkit-sticky;
  height: 60px;
  top: 0;
  padding: 0;
  font-weight: bold;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 25px 25px;
  text-decoration: none;
  margin-bottom: 0px !important;
}

#nav-avatar{
  margin: 0;
  padding: 5px;
}
#nav-avatar:hover{
  /* border-radius: 5px; */
}

img.nav-avatar{
  height: 35px;
  weight: 40px;
  border-radius: 5px;
}
p.nav-username {
  padding: 0;
  margin: 0;
  font-size: 14px;
}
/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Active/current link */
.navbar a.active {
  background-color: #666;
  color: white;
}

.tags{
  display: inline-block;
}

.tags a.tag{
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  color: black;
  margin: 0 5px;
  font-family: 'Roboto',
  sans-serif;
  font-weight: bold;
  text-decoration: none;
  padding: 7px;
  background-color: #b3b3b3;
  border-radius: 15px;
}

/* Column container */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #d9d9d9;
  padding: 20px;
  border-radius: 20px;
  margin-top: 10px;
  height: 600px;
  text-align: center;
}

/* Main column */
.main {
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  /* background-color: white; */
  padding: 20px;
}

.card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
}

.card-info {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
}

.card:hover {
  box-shadow: 1px 6px 8px 1px rgba(0,0,0, 0.4);
  /* color: linear-gradient(to right, #b3b3b3, #f2f2f2); */
  /* color: white; */
}

.card-info:hover {
  color: black;
  background-color: #f1f1f1;
}


.card-info img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.card-theme p {
  color: #8c8c8c;
}




.card a, .card a:visited {
  color:   #000d1a;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.profile-section {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  overflow: hidden;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  background-color: white;
  padding: 10px 5px;
  margin: 20px 5px;
  border-radius: 10px;
  text-decoration: none;

}

.guest-notify {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  overflow: hidden;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  background-color: white;
  padding: 10px 5px;
  margin: 20px 5px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 20px;
  text-align: center !important;
  color: gray;
  text-decoration: None;
}


.guest-notify h2 {
  color: black;
}

.guest-notify a:visited,{
  color: gray !important;
}

.profile-section div.left{
    text-decoration: none;
}

.profile-section img{
  float: left;
  border-radius: 10px;
}

.profile-section div.right{
    /* margin-right: 0; */
    padding: 10px;
    float: right;
    font-size: 65px;

}

.profile-section a.total-dashboards{
    /* margin-right: 0; */
    margin-left: 30px;
    margin-right: 0;
    color: #66ff66;

}

.profile-section a.dashboard-theme{
  /* margin-right: 0; */
  margin-left: 30px;
  margin-right: 0;
  color: #66ff66;

}

.profile-section :after {
  content: "";
  display: table;
  clear: both;
}


/* Fake image, just for this example */
.fakeimg {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  background-color: #aaa;
  padding: 20px;
  margin-right: 5px;
  border-radius: 20px;
}

/* Footer */
.footer {
  color: gray;
  padding: 20px;
  text-align: center;
  /* background-image: linear-gradient(to right, var(--body_gradient_left), var(--body_gradient_right)); */
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
