{% load static %}

<head>
    <script src="{% static 'board/draw_graphics.js' %}"></script>
    <script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>

    <a href="/board/dashboards/"><button type="button" >Back</button></a>
    <a href="{% url 'view_by_id' dashboard.id %}"><button type="button" >View</button></a>

    <style>
      #MoovingChart {
        position: absolute;
        z-index: 9;
        background-color: #f1f1f1;
        text-align: center;
        border: 1px solid #d3d3d3;
      } 
      #Chart {
        height: 600px;
        width: 600px; 
      }
      #ChartHeader {
        padding: 1px;
        cursor: move;
        z-index: 10;
        background-color: #2196F3;
        color: #fff;
      }
    </style>
    <h1>{{dashboard}}</h1>{{dashboard.owner}}<p>created: {{dashboard.created_at}}</p>
    <div>
    {% load markdown_extras %}
    {{ dashboard.description | markdown | safe }}
    </div>

    <p>add description</p>
    <form  action="{% url 'add_description' dashboard.id %}" method="POST">
      {% csrf_token %}
    <textarea name="description" rows="10" cols="40">{{ dashboard.description }}</textarea>
    <input type="submit" value="Commit"/>
    </form>

    <h3  style="color:darkblue;">What we found for {{dashboard.theme}} theme:<h3>
      <h4>
        <ul>
            {% for article in dashboard_data %}
            <li>
                <b><i style="color:grey;">{{ article.created_at }}:</i> {{ article.title }} </b><br />
            </li>
            {% endfor %}
        </ul>
      </h4>
      
      <div>
      <b>Figures</b>
          {% for figure in figures %}
          <div>
              <b>{{ figure.type }} (modified: {{ figure.modify_at }} )</b>
              <div id="MoovingChart">
                <div id="Chart"></div>
                <div id="ChartHeader">Click here to move</div>
                
                <!-- <p>Move</p>
                <p>this</p>
                <p>DIV</p> -->
              </div>
              <script type="text/javascript">
                  var keys = "{{figure.data|get_keys}}";
                  var values = "{{figure.data|get_values}}"
                  draw("Chart", keys, values);
              </script>

              <script type="text/javascript">
                  dragElement(document.getElementById("MoovingChart"));
              </script>

              <p>{{figure.data}}</p>
              <!-- <p>{{figure.data|get_keys}}</p>
              <p>{{figure.data|get_values}}</p> -->
          </div>
          {% endfor %}
      </div>
      
      
      
      
    <p>add new figure</p>
    <form  action="{% url 'add_figure' dashboard.id %}" method="POST">
      {% csrf_token %}
    <select name="figure_type" size="4">
        <option>Frequency analysis</option>
        <option>Wordcloud</option>
        <option>Correlation heatmap</option>
        <option>Sentiment analysis</option>
    </select><br>
        <input type="submit" value="Add"/>
    </form>
    {% if error %}
      <p style="color:red;">{{ error }}</p>
    {% endif %}
</body>