<a href="/board/dashboards/"><button type="button" >Back</button></a>
<h1>{{dashboard}}</h1><p>created: {{dashboard.created_at}}</p>
<h3  style="color:darkblue;">What we found for {{dashboard.theme}} theme:<h3>
<h4>
  <ul>
      {% for article in dashboard_data %}
      <li>
          <b><i style="color:grey;">{{ article.created_at }}:</i> {{ article.title }} </b><br />
      </li>
      {% endfor %}
  </ul>
</h4>

<div>
<b>Figures</b>
    {% for figure in figures %}
    <div>
        <b>{{ figure.type }} (modified: {{ figure.modify_at }} )</b>
        <p>{{figure.data}}</p>
    </div>
    {% endfor %}
</div>

<p>add new figure</p>

<form  action="add_figure" method="POST">
  {% csrf_token %}
<select name="figure_type" size="4">
		<option>Frequency analysis</option>
		<option>Wordcloud</option>
		<option>Correlation heatmap</option>
		<option>Sentiment analysis</option>
</select><br>
		<input type="submit" value="Add"/>
</form>
{% if error %}
  <p style="color:red;">{{ error }}</p>
{% endif %}
